.mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: fit-content;
    margin: 50px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: #5CCE93;
}

.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.leftPart, .rightPart{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
.leftPart{
    background-color: #5CCE93;
    color: white;
    
}
.rightPart{
    background-color: white;
}
.rightPart h3{
    margin-bottom: 40px ;
}
.nameEmail{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nameDiv, .emailDiv, .phoneDiv, .messageDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.mainContainer label{
    font-size: 0.8rem;
    font-weight: bold;
}