.mainContainer{
    width: 100%;
    background-color: #354444 !important;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;

    color: #e1e6eb;
    font-size: 1rem;
}
.rightSide a{
    text-decoration: none;
    color: #e1e6eb ;
    display: flex;
    align-items: center;
    gap: 10px;
}
.rightSide a:hover{
    color: #D0DCE0;
}
.rightSide table{
    margin: 0 auto;
}
.leftSide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 100px;
}
.rightSide{
    color: #e1e6eb;
    /* font-size: 1rem; */

    flex: 1;
}
.copyright{
    margin: 0 auto;
 }


/* Media Queries for Responsiveness */
@media (max-width: 1000px) {
    .mainContainer{
        font-size: 0.9rem;
    }
    .leftSide{
        width: 100%;
    }
}
@media (max-width: 480px) {
    .mainContainer{
        font-size: 0.8rem;
    }
    .logo{
        width: 80px;
    }
}