.navbar{
    background-color: #354444 !important; 
}
.navbar ul{
    gap: 20px; 
}
.navbar a{
    color:white ;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.activeLink {
    color: #D0DCE0 !important;
}
.navbarNav a:hover{
    color: #D0DCE0;
    transform: scale(1.05);
    transition: transform .2s ease;
}
.hamburger{
    background-color: #D0DCE0;
}
.navbarNav{
    justify-content: flex-end !important;
}
.logo{
    width: 40px;
    height: 40px;
}
.logoLink{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;

    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.logoLink div{
    font-size: 1.5rem;
    margin-bottom: -5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown{
    position: relative;
}
.dropdownMenu{
    width: 300%;
    overflow: hidden;
    background-color: #1D2327;
   
}
.dropdownMenu a{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem !important;
}
.dropdownMenu a:hover{
    color: black !important;
}


/* Media Queries for Responsiveness */
@media (max-width: 1000px) {
    .navbar ul{
        gap: 10px; 
        margin: 20px 0;
    }
}
@media (max-width: 480px) {
    .navbar a{
        font-size: 0.9rem !important;
    }
}
