body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* font-family: "Poppins", sans-serif;
font-family: "Montserrat", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Lato", sans-serif;
font-weight: 100;
font-style: normal; */